.App{
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
}

.Calculator{
  width: 500px;
  margin: auto;
  border: 1px solid black;
  min-height: 100px; 
}

.Display{
  border: 1px solid black;
  height: 50px;
  font-size: 2em;
  padding: 5px;
  text-align: right;
  background-color: gray;
}

.Keypad{
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
}

.CalcButton{
  justify-content: center;
  border: 1px solid blue;
  font-size: 2em;
  background-color: aquamarine;
}